#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.motherDiv {
  height: 80vh;
  width: 70vw;
  background-color: rgb(62, 122, 21);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
}

.inputDiv {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.input {
  height: 40px;
  width: 400px;
  border: none;
  font-size: 14px;
}

.input:focus {
  outline: none;
}

.submit {
  height: 42px;
  width: 100px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}

.motherTodo {
  width: 550px;
  height: 7vh;
  margin-top: 10px;
}

.todoDiv {
  width: 550px;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
}

.todoDiv h2 {
  font-size: 26px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.todoDiv h3 {
  font-size: 22px;
  color: white;
  cursor: pointer;
  font-weight: 450;
}

.todoDiv p {
  color: white;
  font-size: 18px;
}

.crud {
  height: 30px;
  width: 220px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.checkbox {
  height: 23px;
  width: 23px;
  cursor: pointer;
}

.todoDiv img {
  height: 22px;
  cursor: pointer;
}

.editingText {
  height: 30px;
  width: 270px;
  border: none;
  
  background-color: transparent;
  color: white;
  font-size: 18px;
}

.editingText:focus {
  outline: none;
}